# editorconfig.org
root = true

# TODO: require to install any package denpendent on your editor
# see these propaties at https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.json]
insert_final_newline = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[**.min.*]
insert_final_newline = false
max_line_length = off

[COMMIT_EDITMSG]
max_line_length = off
